.footer {
    background-color: #333;
    font-family: 'Rubik', Arial, sans-serif;
    /* Dark theme background color */
    color: #fff;
    /* Text color */
    padding: 50px 0;
}

.container {
    display: flex;
    justify-content: space-around;
}

.column {
    flex: 1;
    text-align: center;
}

.footer-title {
    color: #fff;

    /* Title color */
    
    &-list {
        
        padding: 0;
    }

    &-list li {
        
        margin-bottom: 10px;
    }
}
ul {
    list-style: none;
}

@media only screen and (max-width: 425px) and (min-width: 320px){
    .footer{
        font-size: 20px;
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}