@font-face {
    font-family: 'Rubik';
    src: url('../assets/police/rubik/static/Rubik-Medium.ttf') format('truetype'); /* Format TrueType */
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
}
body{
    background-color: red;
}
@media (max-width: 1440px ) {
    body{
        background-color: red;
    }
}